:root {
    --header-height: 60px;
    --footer-height: 80px;
}

html {
    min-width: 375px;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}
